  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter';
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

:root {
  --black: #1A1A1A;
  --blue: #2275fc;
}

a {
  text-decoration: none;
  color: black;
}

/* login */
.admin-login {
  height: 100vh;
}

.h-100vh {
  height: 100vh;
}

.Login h4 {
  font-weight: 800;
  color: var(--black);
  font-size: 24px;
}
.inset_pr{
  box-shadow: 0px 0px 2px 1px #3DB0F7 inset;
}

.Login p {
  font-size: 14px;
  color: #495567;
}

.Login label {
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
}

.mt-40 {
  margin-top: 40px;
}

.Login form input {
  border: 1px solid #D8D6DE;
  padding: 12px;
  width: 100%;
  border-radius: 10px;
}

.inter {
  font-family: 'Inter';
}

.iti {
  width: 100%;
}

.eye {
  position: absolute;
  top: 60%;
  right: 20px;
  color: var(--font);
  cursor: pointer;
}

.eye.show {
  fill: #007bff;
  /* Example: Change icon color when password is shown */
}

.Login button {
  padding: 12px;
  border: 1px solid var(--blue);
  background-color: var(--blue);

  border-radius: 10px;
  margin: 30px 0;
  font-size: 18px;
  font-weight: 500;
}

.Login form input[type=checkbox] {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #D8D6DE;
  background-color: #F5F6F7;
}

.Remember span {
  color: var(--black);
  font-weight: 500;
}

.underline {
  text-decoration: underline;
}

.green {
  color: var(--blue);
}

.position-abs {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
}

.bg-admin {
  background-image: url(../image/Mask\ group.png);
  background-color: var(--blue);
  background-size: cover;
  height: 100vh;
}

.bg-admin h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 20px;
}

.bg-admin p {
  font-size: 18px;
  color: #ffffff;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox input {
  display: none;
  /* Hide the default checkbox */
}

.checkmark {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #D8D6DE;
  background-color: #F5F6F7;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s;
}

/* Change the background when checked */
.custom-checkbox input:checked+.checkmark {
  background-color: var(--blue);
  /* Change background on check */
}

/* Add a checkmark symbol */
.custom-checkbox input:checked+.checkmark::before {
  content: "\f00c";
  position: absolute;
  width: 10px;
  height: 10px;
  font-size: 15px;
  font-family: "Font Awesome 6 Free";
  top: -10.5%;
  font-weight: 900;
  color: white;
  left: 14%;
  border-radius: 2px;
  /* Make the checkmark a square */
}

.Login {
  margin: 150px 0;
}

.box-bell {
  background: #F8F8F8;
  padding: 15px;
  border-radius: 8px;
}

.bell {
  width: 40px;
  height: 40px;
  background-color: var(--blue);
  border-radius: 100%;
}

.Login p {
  font-size: 14px;
  color: #495567;
}

.mb-40 {
  margin-bottom: 40px;
}

.admin-back {
  background-color: #F8F8F8;
}

.width__left {
  background-color: white;
  padding: 29px 12px 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 9;
}

/* Custom scrollbar */
.width__left::-webkit-scrollbar{
  width: 0px;
  /* Width of the vertical scrollbar */
}


.width__right {
  margin-left: 250px;
  padding: 29px 20px;
}
body{
  background-color: #F8F8F8;
}
.admin-logo {
  height: 56px;
  display: block;
  margin: 0  29px 29px 0px;
}

.admin-li {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 11px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.admin-li h6 {
  font-size: 14px;
  font-weight: 500;
  color: #495567;

}

.admin-li.active {
  border-left: 3px solid var(--blue);
  background: rgba(35,119,252,.1);

}

.admin-li svg {
  fill: #495567;
}

.admin-li.active svg {
  fill: var(--blue);
}

.admin-li.active h6 {
  color: var(--blue);
}

.class-bottom {
  width: 100%;
}

.log-out button {
  border: 1px solid #D8D6DE;
  background: transparent;
  width: 100%;
  height: 44px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 6px;
}

.me-12 {
  margin-right: 12px;
}

.account {
  padding: 10px 12px;
  background: #F8F8F8;

}

.account img {
  border-radius: 100%;
  width: 45px;
  height: 45px;
}

.account span {
  font-size: 14px;
  font-weight: 600;
  color: #363F56;
  line-height: 16.94px;
}



.account p {
  font-size: 12px;
  color: #495567;
  line-height: 14.52px;
}

.ad-box-1 {
  width: 100%;
  background-color: white;
  padding: 17px;
  height: 270px;
  border-radius: 20.97px;
}

.ad-box-1 h6 {
  color: #1A1A1A;
  font-size: 15.73px;
  font-weight: 600;
}

.men-im {
  width: 35px;
  border: 0.87px solid #C8C3C3;
  border-radius: 100%;
}

.Raised-text {
  font-size: 8.74px;
  color: #9CA3AF;
  font-weight: 400;
  margin-top: 10px;
}

.btn-side-corner {
  position: absolute;
  right: 17px;
  bottom: 17px;
}

.gray-view {
  background-color: #E5E7EB;

  color: #A3B0BD;
}

.gray-view,
.green-btn {
  border-radius: 6.99px;
  height: 34px;
  border: none;
  font-size: 12.23px;
  font-weight: 600;
  padding: 0 17px;

}

.green-btn {
  background-color: var(--blue);
  color: #1A1A1A;
}

.pd-class.row>* {
  padding: 9px !important;
}

.rrev-0 {
  color: #777777;
  font-size: 8.74px;
  font-weight: 400;
}

.rrev-0 span {
  font-weight: 600;
  color: #000000;
}

.ad-box-1 p {
  font-size: 11.62px;
  line-height: 14.06px;
}

.btn-side-corner-1 {
  right: 0;
  bottom: 0;
}

.schedual-h5 {
  font-size: 11.62px;
  font-weight: 400;
}

.schedual-h5 span {
  font-weight: 600;
}

.rrev-round {
  width: 18px;
  height: 18px;
  border: 1px solid #B3B3B3;
  border-radius: 100%;
}

/* Progress Circle Style */
.progress-circle {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #F2F2F2;
}

/* Inner circle with white background */
.progress-circle .inner-circle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7.64px;
  font-weight: bold;
  color: #686F7A;
}

/* Dynamic progress fill */
.progress-fill {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip: rect(0px, 30px, 30px, 15px);
  /* Clip for the left half */
}

/* Rotating part of the progress circle */
.left-half {
  background-color: var(--blue);
  clip: rect(0px, 15px, 30px, 0px);
  /* Clip for the left half */
  transform: rotate(var(--rotate, 0deg));
  /* Rotate based on percentage */
}

.he-150 {
  height: 160px;
  overflow-y: scroll;
}

.he-150 .table>:not(caption)>*>* {
  padding: 8px 0;
}

.he-150 table thead {
  border-style: hidden;
}

.he-150 th {
  font-size: 13px;
  font-weight: 600;
}

.he-150 td {
  font-size: 12px;
  color: #686F7A;
}

.he-150 td span {
  font-weight: 600;
  color: #686F7A;
}

.he-150::-webkit-scrollbar,
.class-over-flow::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff;
  border-radius: 100px;
}

.he-150::-webkit-scrollbar-thumb,
.class-over-flow::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 100px;
}

.help-a,
.help-a i {
  color: rgb(64, 174, 255);
  font-size: 12px;
}

.old-text-addmin {
  font-size: 12px;
  color: #333333;
}

.meg-span {
  font-size: 10px;
  font-weight: 600;
  color: #878787;
}

.class-over-flow {
  overflow-y: scroll;
  height: 185px;
}

.bg-white-1 {
  background-color: white;
  padding: 10px 30px;
  transition: box-shadow 0.3s ease;
  position: sticky;
  /* Makes the header sticky */
  top: 0;
  /* Sticks it to the top */
  width: 100%;
  z-index: 9999999;
  /* Ensures it's above other content */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.bg-white-1 .logo-img {
  height: 40px;
}

.margin-ad-start {
  margin-left: 60px;
}

.admin-li.active span,
.admin-li.active svg path {
  color: var(--blue);
  fill: var(--blue);
}

.margin-ad-start li a {
  font-size: 14px;
  color: #495567;
  font-weight: 500;
  display: block;
  padding: 15px 10px;
  margin: 0 5px;
}

.mar-gin-2>div {
  margin: 0 15px;
}

.d-none-header {
  display: none;
}


.drop_down_header {
  top: 50px;
  box-shadow: 0px 1px 12px 0px #5484FF33;
  width: 190px;
  border-radius: 5px;
  visibility: hidden;
  z-index: 0;
  opacity: 0;
  transition: all 0.3s;
}

.drop_down_header li a {
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.21px;
  padding: 10px;
  line-height: 21px;
  color: var(--black);
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.1);

}

.margin-ad-start li:hover .drop_down_header {
  visibility: visible;
  z-index: 199999;
  opacity: 1;
}

.admin-li h6 span {
  color: #495567;
}

.drop-admin-down {
  margin: 5px 0 5px 17px;
  border-left: 1.5px solid #D8D6DE;
  padding: 0 12px 0 12px;
  display: none;
}



.drop-admin-down .active,
.drop_down_header li .active {
  background: var(--blue)4D;
  color: var(--blue);
  text-decoration: underline var(--blue);
}

.member_head {
  color: #1A1A1A;
  font-size: 22px;
  font-weight: 600;
}

.Member_btn {
  height: 36px;
  padding: 0 12px;
  background: var(--blue);
  border-radius: 8px;
  border: none;
  font-weight: 500;
}

.mt-10 {
  margin-top: 40px;
}

.entites-24 {

  padding: 24px 20px;
  background-color: white;
  border-bottom: 1px solid #D8D6DE
}

.span-entity {
  font-size: 14px;
  color: #495567;
}

.admin-select {
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #D8D6DE;
  border-radius: 6px;
  padding: 5px 3px;
  color: #495567;
}

.filter-btn {
  height: 40px;
  width: 48px;
  border: 1px solid #D8D6DE;
  border-radius: 6px;
  background-color: #F8F8F8;
  line-height: 25px;
}

.searcch-admin {
  width: 280px;
  height: 40px;
  border: 1px solid #D8D6DE;
  border-radius: 6px;
  padding: 0 12px;
  font-size: 14px;
  color: #495567;
  margin-right: 20px;
}

.border-entites {
  border: 1px solid #D8D6DE;
  border-radius: 8px;
  overflow: hidden;
}

.border-entites table tr td,
.border-entites table tr th {
  padding: 20px;
  font-size: 14px;
  color: #495567;
}

.border-entites table tr th {
  font-weight: 500;
}

.tb-btn select {
  border: none;
  background-color: transparent;
  color: #212529;
  font-weight: 700;
  font-size: 14px;
  font-weight: 500;
  color: #495567;
  appearance: none;
}

.tb-btn .position-relative svg {
  position: absolute;
  right: 2px;
  bottom: 2px;
}

.tb-btn .position-relative {
  display: inline;
}

.bg-first-1 {
  background-color: #f8f8f8;
}

.bg-first-2 {
  background-color: #F7F7F7;
}

.tb-btn {
  margin-bottom: 0;
}

.top-border-add {
  padding: 18px 20px;
  background-color: white;
}

.top-border-add p {
  color: #495567;
  font-size: 14px;
}

.top-border-add nav .page-link {
  background-color: #FFFAEA;
  border: none;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9CA3AF;
  font-size: 19px;
  font-weight: 600;
  line-height: normal;
}

.top-border-add nav .page-item.active .page-link {
  background-color: var(--blue);
  color: #1A1A1A;
  border-radius: 100% !important;
}

.page-link:focus {
  box-shadow: none;
}

.first-radius .page-link {
  border-radius: 100px 0 0 100px !important;
}

.last-radius .page-link {
  border-radius: 0 100px 100px 0;
}

.filter-menu-admin {
  box-shadow: 1px 0px 10px 0px #0000002b;
  background-color: #FFFFFF;
  padding: 20px;
  position: absolute;
  top: 40px;
  right: 0px;
  width: 220px;
  display: none;
  /* Initially hidden */
  transition: opacity 0.3s ease;
}

.filter-menu-admin h6 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #9CA3AF;
}

.filter-menu-admin li span {
  color: #495567;
  font-size: 14px;
}

.mt-20-filter {
  margin-top: 15px;
}

.filter-menu-admin input {
  width: 18px;
  border-radius: 4px;
  height: 18px;
}

.filter-menu-admin button {
  background-color: transparent;
  border: none;
  color: #9CA3AF;
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
}

.inline-admin-box {
  padding: 14px 12px;
  border: 1px solid var(--blue);
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  display: inline-block;
  width: 470px;
}

.h-100vh-ad {
  height: 80vh;
}

.mt-60-h3 {
  margin-top: 60px !important;
  font-size: 21.96px;
  font-weight: 600;
  color: #1A1A1A;
}

.h5-tag-ad {
  font-size: 21px;
  font-weight: 400;
}

.ad-change-th {

  color: #000000 !important;
}

.shadow-1-ad {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.mt-30 {
  margin-top: 30px;
}

.border-admin-round {

  padding: 8px 22px;
  border: 1px solid rgb(217, 217, 217);
  cursor: pointer;
  border-radius: 15px;
  background-color: #fff;
}

.blue-doc {
  background: rgb(109, 146, 235);
  border-radius: 4px;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.border-admin-round h6 {
  font-weight: bold;
  font-size: 16px;
}

.border-admin-round p {
  color: rgb(120, 116, 116);
  font-size: 14px;
}

.drop-ad-admin {
  position: absolute;
  top: 25px;
  right: -13px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  min-width: 120px;
  padding: 6px 4px;
  box-shadow: 1px 1px 3px 3px #00000013;
  z-index: 100;
}

.drop-ad-admin a {
  display: block;
  cursor: pointer;
  border-radius: 6px;
  padding: 6px 12px;
}

.drop-ad-admin a:hover {
  background-color: #ebebeb;
  color: #000000;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
}

.modal-header .btn-close {
  font-size: 12px;
  font-weight: 600;
}

.modal-content,
.modal-header {
  border: none;
  border-radius: 21px;
}

.start-req-ad span,
.add-doc h5 span {
  color: rgb(255, 51, 102);
  font-weight: 400;
}

.start-req-ad {
  color: rgb(120, 116, 116);
  font-size: 13px;
}

.add-doc h5 {
  width: 150px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: 600;
}

.add-doc input {
  height: 40px;
  width: 100%;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(193, 193, 193);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0px 0.75em;
}

.add-doc:hover {
  border-color: rgb(24, 144, 255);
}

.add-doc:focus {
  border-color: rgb(24, 144, 255);
}

.admin-drop-down-1 {
  border: 1px solid #ddd;
  position: relative;
  display: flex;
  align-items: center;

  border-radius: 4px;
  background-color: white;
}

.selected-option {
  flex-grow: 1;
  padding: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  color: rgb(128, 128, 128);
  font-size: 14px;
  border-radius: 4px 0 0 4px;
  /* Rounded on the left */
}

.selected-option:focus {
  outline: none;
}

.dropdown-arrow {
  width: 40px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-left: 1px solid #ccc;
  /* Line to the left of the arrow */
}

.dropdown-arrow i {
  font-size: 12px;
  color: rgb(204, 204, 204);
  /* Blue color for the arrow */
}

.options-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
  /* Ensures it appears above other elements */
}

.option {
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.option:hover,
.option-selected {
  background-color: #e9f5ff;
  /* Light blue for hover/selected */
}

.hidden {
  display: none;
}

.show-drop {
  display: block;
}

.upload-admin-btn {
  padding: 3px 15px;
  border: 1px solid rgb(191, 191, 191);
  font-weight: 500;
  background-color: white;
  color: rgb(51, 51, 51);
  border-radius: 9px;
  overflow: hidden;
}

.file-upload-ad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.add-doc input:hover,
.admin-drop-down-1:hover,
.admin-drop-down-1:hover .dropdown-arrow {
  border-color: rgb(24, 144, 255);
}

.admin-drop-down-1:hover .dropdown-arrow i {
  color: rgb(24, 144, 255);
}

.active-dum {
  border: 1px solid rgb(191, 191, 191);
  background-color: #f5f4f7;
  padding: 12px 14px;
  border-radius: 8px;
}

.active-dum h4 {
  font-size: 16px;
  font-weight: 400;
}

.active-dum input {
  width: 20px;
  height: 20px;
  background-color: #f5f4f7;
}

.active-dum p {
  font-size: 12px;
  color: #969696;
}

.modal-dialog {
  max-width: 580px;
}

.border-gender {
  height: 40px;
  width: 150px;
  border: 1px solid rgb(191, 191, 191);
  padding: 0 15px;
  border-radius: 5px;
}

.border-gender h5 {
  font-weight: 400;
  color: #1A1A1A;
}

.border-gender input {
  width: 30px;
  height: 20px;
}

.modal-footer {
  margin-top: 30px;
}

.border-p-g {
  font-size: 12px;
  padding-top: 5px;
  color: rgb(120, 116, 116);
}

.modal-700 {
  max-width: 700px;
}

.profile-1 {
  background-color: rgb(255, 255, 255);
  padding: 16px 24px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  border-radius: 24px;
  position: sticky;
  top: 30px;
  z-index: 999;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.profile-1 h2 {
  color: rgb(51, 51, 51);
  font-size: 32px;
  font-weight: 700;
}

.helvet {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.profile-1 button {
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  border-radius: 9px;
  border: 1px solid rgb(191, 191, 191);
  padding: 3px 15px;
  font-weight: 500;
}

.profile-2 {
  padding: 24px;
  border-radius: 24px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
  margin: 24px 0 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img-admn-sec .user-img {
  width: 138px;
  height: 138px;
  border-radius: 100%;
}

.im-1 {
  margin-left: 16px;
}

.im-1 h4 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;

}

.im-1 p {
  color: rgb(153, 153, 153);
  line-height: 24px;
}

.btn-em-1 {
  padding: 8px 16px;
  border: 1px solid rgb(240, 240, 240) !important;
  border-radius: 16px;
  background-color: transparent;
}

.btn-em-1 h5,
.dcpr-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(51, 51, 51);

}

.btn-em-1 p {
  font-size: 12px;
  font-weight: 500;
  color: rgb(153, 153, 153);
}

.dcpr-1 {
  color: rgb(153, 153, 153);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.border-dcpr-1 {
  color: rgba(0, 0, 0, 0.88);
  font-size: 12px;
  line-height: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding: 0 7px;
  margin-right: 10px;
}

.personal-del {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.primary {
  color: #1890ff !important;

}

.hr-border {
  border-top: 1px solid rgb(240, 240, 240);
  padding-top: 16px;
  margin-top: 16px;
}

.hr-border table th,
.hr-border table td {
  font-size: 16px;
  width: 150px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.hr-border table td {
  color: #333333;
  width: auto;
}

.hr-border .table>:not(caption)>*>* {
  padding: 8px 16px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: rgba(5, 5, 5, 0.09);
}

th{
  padding: 0 20px ;
}

.profile-side {
  overflow-y: scroll;
  border-top: 1px solid rgba(217, 217, 217, 0.548);
}

.profile-side::-webkit-scrollbar ,.noe_of_scrl::-webkit-scrollbar {
  display: none !important;
}

.profile-side h6 {
  line-height: 40px;
}

.profile-side li a {
  display: block;
  padding: 5px 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 5px 0;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.profile-side li a:hover {
  background-color: var(--blue)28;
  border-radius: 8px;
  color: var(--blue);
}

/* Initially hide the dropdown */
.profile-ul-abs {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}

/* When the dropdown is active */
.profile-toggle.active+.profile-ul-abs {
  max-height: 500px;
  /* Arbitrarily large value to accommodate content */
  opacity: 1;
}

/* Active state for background color change */
.profile-toggle.active {
  background-color: var(--blue)28;
  border-radius: 8px;

}

.profile-toggle.active h6,
.profile-toggle.active i {
  color: var(--blue);

}

.profile-toggle.active i {
  transform: rotate(180deg);
}

.profile-toggle i {
  transition: all 0.3s;
}

.profile-ul-abs li .active {
  background-color: var(--blue)28;
  color: var(--blue);
}

/* Style adjustments for smooth UI */
.profile-ul-abs li a {
  padding: 10px 10px 10px 35px;
  display: block;
  color: #333;
  text-decoration: none;
  border-radius: 8px;
  font-size: 15px;
}

/* Blinking effect for links (optional) */
.profile-ul-abs li a.blinking {
  animation: blink 1s step-start infinite alternate;
}

.all-profile-user {
  padding: 8px 16px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 16px;
  margin: 15px 0;
}


.width__right.active::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  background-color: #0000001c;
  width: 100%;
  height: 100%;
  z-index: 8;
}

.option-ico-1-1 {
  /* position: fixed; 
  top: 95px;
  left: 0px; 
  z-index: 999999; */
  cursor: grab;
  background-color: rgb(255, 255, 255);
  padding: 8px 10px;
  align-items: center;
  border-radius: 0 10px 10px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.08);
  justify-content: center;
  transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
  /* Smooth transition */
}


.option-ico-1-1 img {
  width: 30px;
}

.width__left.active {
  display: block !important;
}

.option-ico-1-1.active {
  left: 250px;
}

.d-flex-120 input {
  height: 32px;
  border: 1px solid #d9d9d9;
  padding: 3px 11px;
  border-start-start-radius: 6px;
  border-end-start-radius: 6px;
}

.d-flex-120 button {
  width: 32px;
  height: 32px;
  border-start-end-radius: 6px;
  border-end-end-radius: 6px;
  border: 1px solid #d9d9d9;
  background-color: transparent;
  border-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro-hide-class h3 {
  font-size: 16px;
  font-weight: 400;
}

/* Initially hide the dropdown content */
.pro-hide-class {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

/* When active, set a max-height large enough to show all content */
.pro-hide-class.active {
  max-height: 500px;
  /* You can adjust this value as needed */
}

.cursor-pointer {
  cursor: pointer;
}

.w-primary {
  width: 53px;
}

.bg-prime-1-1 {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
}

.ed--1 p {
  line-height: 24px;
  color: #595959;
  width: 200px;
}

.ed-1-user {
  background-color: #ffffff70;
  background-image: url(../image/user-service.png);
  width: 140px;
  height: 140px;
  background-size: cover;
  background-blend-mode: color;
  border-radius: 100%;
}

.ed--1 h4 {
  color: rgb(89, 89, 89);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.ed--1-form input,
.select-ed-1 {
  border-radius: 6px;
  padding: 3px 10px;
  min-height: 32px;
}

.red {
  color: #ff4d4f;
}

.select-ed-1 i {
  position: absolute;
  right: 10px;
  top: 8px;
  opacity: 0.3;
}

.select-ed-dropdown {
  position: absolute;

  top: 32px;
  left: 0;
  display: none;
  z-index: 99;
  max-height: 200px;
  overflow-y: scroll;
}

.select-ed-dropdown div {
  width: 100%;
  padding: 3px 10px;
  cursor: pointer;
}

.select-ed-dropdown div:hover {
  background-color: var(--blue);
  color: white;
}

.open {
  display: block;
}

.selected-languages-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding: 5px;
  cursor: pointer;
}

.selected-languages-container .language-tag {
  background-color: #3DB0F733;
  padding: 1px 8px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  font-size: 14px;
}

.language-tag i {
  margin-left: 5px;
  cursor: pointer;
  position: static;
}

.w-380-1 {
  width: 380px;
  padding: 3px 11px;
  min-height: 80px;
  resize: none;
  border: 1px solid #d9d9d9;
  border-radius: 6px;

}

.w-580-1 {
  width: 580px;
}

.zone-span-2 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}

.input-radio input {
  width: 16px;
  height: 16px;
}

.input-radio>div>div:last-child {
  color: rgb(153, 153, 153);
  font-size: 12px;
  font-weight: 500;
}

.input-radio .first-ch-1 {
  color: rgb(51, 51, 51) !important;
  line-height: 24px !important;
  font-size: 16px !important;
}

.flex-wrap-zone-1 {
  display: flex;
}

.h4-ed-1 {
  color: rgb(89, 89, 89) !important;
  font-size: 20px !important;
  font-weight: 700 !important;
}

.add-hide-form-ed-1 {
  padding: 24px;
}

/* ------------------------ */

.pagination {
  border-radius: 5022px;
  display: flex;
  background: #D3ECFB;
}

.pagination li {
  color: #9CA3AF;
}

.pagination li.active {
  color: white;
  background: var(--blue);
  border-radius: 100%;
}

.monst {
  font-family: 'Montserrat';
}

#overlay {
  z-index: 10;
  background: #00000066;

  left: 0;
}

.drop-admin-down a {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #495567;
  width: 100%;
  display: block;
}

.class_acyive_border .active {
  border-bottom-color: var(--blue);
  color: var(--blue);
  position: relative;
  z-index: 1;
}

.class_acyive_border::before {
  position: absolute;
  content: '';
  left: 0;
  height: 2px;
  background-color: #D8E3EB;
  width: 100%;
  bottom: 0;
  z-index: 0;
}

.dropdown-menu {
  overflow: hidden;
  max-height: 120px;
  overflow-y: scroll;

}

.dropdown-menu::-webkit-scrollbar {
  width: 4px;
  display: none;
}

.dropdown-menu .dropdown-option {
  font-size: 12px;
}

.dropdown-menu .dropdown-option:hover,
.dropdown-option:hover span {
  background-color: var(--blue);
  color: white;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.over_scroll::-webkit-scrollbar,
.Overe_scroll::-webkit-scrollbar,
.over__scroll::-webkit-scrollbar {
  display: none;
}

.last_tr tr:last-child {
  border-radius: 0 0 10px 10px;
}

.none__apee_scrol::-webkit-scrollbar {
  display: none;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: var(--blue);
}

.pagination li {
  margin-right: 3px;
}

.pagination li:last-child {
  margin-right: 0px;
}

.TabLINK_active .tab-link.active span {
  color: white
}

.TabLINK_active .tab-link.active svg path {
  fill: var(--blue);
}


.this_classfor_sec_slide {
  position: relative;
  z-index: 11;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.this_classfor_sec_slide {
  position: sticky;
  top: 0;
  left: 0;
}




.dropdown-selected {
  color: #495567;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.close__side_m {
  display: none;
}

.modal {
  z-index: 21 !important;
}

.over_y_flow::-webkit-scrollbar {
  display: none;
}

.shadow_11{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}





@media(max-width:1400px) {


  .width__right {
    padding-top: 15px;
  }

  
.width__right {
  margin-left: 210px;
  padding: 29px 20px;
}


  .option-ico-1-1 {
    top: 157px;
  }
}

@media(max-width:1300px) {


  .Login {
    margin: 80px 0;
  }
}

@media (max-width : 1220px) {
  .nav_720 {
    width: 720px;
  }

  .nav_1020 {
    width: 1120px;
  }

  .over_scroll,
  .Overe_scroll,
  .over__scroll {
    overflow-x: scroll;
  }

  .TabLINK_active {
    width: 1020px;
  }

  .tab__717 {
    width: 100%;
  }

}

@media(max-width:1200px) {
  .mt-10 {
    margin-top: 20px;
  }

  .Login {
    margin: 80px 0;
  }

  .over_y_flow {
    overflow-y: scroll;
  }

  .position-abs {
    position: static;
    padding-bottom: 30px;
  }
}
@media (max-width:1023px) {
  .width__right {
    margin-left: 0px;

  }
}

@media (max-width: 992px) {
  .col-none {
    display: none !important;
  }

  .login-img {
    display: block;
    margin: auto;
  }

  .Login {
    margin-top: 80px;
    width: 60%;
  }

  .account {
    padding: 5px 0;
  }

  .margin-ad-start li a {
    padding: 5px 12px;
  }

  .border-entites table {
    width: 950px;
    overflow: hidden;
  }

  .scroll-admin {
    overflow-x: scroll;
  }

  .loog-g- {
    display: none;
   
  }
  .lflfff{
    margin-top: 70px;
  }
  /* .none__apee_scrol th{
    padding: 0 25px ;
  } */
}

@media (max-width: 767px) {
  .admin-login {
    height: 100%;
  }

  .position-abs {
    position: relative;
    margin-top: 50px;
  }

  .h-100vh {
    height: 100%;
    padding: 50px 0;
  }

  .Login {
    margin-top: 80px;
    width: 90%;
  }

  .d-none-header {
    display: none;
  }

  .searcch-admin {
    width: 100%;
  }

  .option-ico-1-1 {
    top: 125px;

  }

  .option-ico-1-1 img {
    width: 25px;
  }

  .profile-1 {
    justify-content: center !important;
    gap: 10px;
  }

  .profile-1 h2 {
    text-align: center;
  }

  .none__apee_scrol table {
    width: 100%;
  }

  .admin-logo {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .class-bottom {
    position: relative;
  }

  .close__side_m {
    display: block;
  }
  .lflfff{
    margin-top: 50px;
  }
  .margin-ad-start li a {
    padding: 5px 12px;
  }
}


@media (max-width:576px) {
  .checkmark {
    width: 18px;
    height: 18px;
  }

  .position-abs {
    margin: 30px 0;
  }

  .Remember span {
    font-size: 14px;
  }

  .underline {
    font-size: 14px;
  }

  .Login button {
    padding: 8px;
  }

  .Login {
    margin-top: 40px;

  }

  .he-150 td {
    font-size: 9px;
  }

  .btn-side-corner {
    position: static;
    justify-content: end;
    margin-top: 20px;
  }

  .ad-box-1 {
    height: auto;
    max-height: 400px;
  }

  .just-center {
    justify-content: center;
    width: 100%;
    gap: 10px;
  }

  .mt-10 {
    margin-top: 20px;
  }

  .top-border-add {
    justify-content: center !important;
    gap: 10px;
  }

  .inline-admin-box {
    width: 100%;
  }

  .h-100vh-ad img {
    width: 150px;
  }

  .mt-60-h3,
  .h5-tag-ad {
    font-size: 18px;
  }

  .mt-60-h3 {
    margin-top: 30px !important;
  }

  .add-doc h5 {
    width: 110px;
  }

  .add-doc input {
    height: 35px;
  }

  .border-gender input {
    width: 20px;
    height: 20px;
  }

  .profile-1 h2 {
    font-size: 22px;
  }

  .btn-em-1,
  .btn-em-11 {
    width: 100% !important;
    margin-top: 10px;
    justify-content: space-between;
    padding: 0;
  }

  .profile-2 {
    padding: 18px 16px;
  }

  .hr-border table th,
  .hr-border table td {
    font-size: 14px;
  }

  .ed--1-form input,
  .select-ed-1,
  .w-380-1 {
    width: 98%;
  }

  .w-580-1,
  .flex-wrap-zone-1>div,
  .flex-wrap-zone-1 {
    width: 100%;
  }

  .ed--1 p {
    font-size: 14px;
    width: 100%;
  }

  .flex-wrap-zone-1 {
    flex-wrap: wrap;
  }

  .option-ico-1-1 {
    top: 110px;
  }

  .flex-wrap-zone-1>div .select-ed-1 {
    width: 100%;
  }

  .input-radio input {
    width: 16px;
  }

  .account img {
    width: 30px;
    height: 30px;
  }

  .account span {
    font-size: 12px;
  }

  .account p {
    font-size: 10px;
  }

  .width__right {
    padding: 24px 12px;
  }

  .hide__ala {
    display: none;
  }

  .over__scroll1212 {
    overflow-x: scroll;
  }

  .over__scroll1212 nav {
    min-width: 450px;
  }
}



@media (max-width:400px) {
  .just_center {
    justify-content: center !important;
  }
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

.css-1p3m7a8-multiValue {
  background-color: #3DB0F733 !important;
}

.css-13cymwt-control {
  border-radius: 7px !important;
  border: transparent !important;
}

.css-t3ipsp-control {
  box-shadow: none !important;
  border-color: none !important;
}

@media (max-height: 859px) {
  .position-abs {
      position: static; /* or relative, depending on your layout needs */
      bottom: auto;
  }
  .over_y_flow{
    overflow-y: scroll;
  }
}


.active_k::before {
  position: absolute;
  content: '';
  width: 130%;
  height: 130%;
  border: 2px solid #838383;
  border-radius: 100%;
}
.active_k_shape::before {
  position: absolute;
  content: '';
  width: 120%;
  height: 120%;
 
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid #838383;
  border-radius: 100%;
}


.drag-item {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.drag-item:active {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}


.react-datepicker-popper{
  left: -60px !important;
}
.react-datepicker__triangle{
  left: 164px !important;
}

@media (max-width : 640px) {
  .react-datepicker-popper{
  left: 50px !important;
}
.react-datepicker__triangle{
  left: 80px !important;
}
}